/* Mobile/Small Devices - General Styles */

* {
  box-sizing: border-box;
  font-size: 16px;
}

body {
    margin: 0;
    background-color: lightgray; /*Temporary*/
    background-image: url('./images/general-background.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#root {
    height: 100%;
}

.App{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3em;
    text-align: center;
    margin-top: 0;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5em;
    text-align: center;
    margin: 0 0 0.5em 0;
}

p {
    font-size: 1.5em;
    text-align: center;
}

.App {
    height: 100%;
    /* border: 3px blue dashed; */
}

/* General Buttons */

button {
    background-image: url('./images/button-background.png');
    background-size: 100% 100%;
    color: #ffffff;
    font-weight: 700;
}

button:hover {
    color: rgb(255, 163, 97);
}

/* Fades the button out slightly when disabled */
button:disabled {
    background-blend-mode: overlay;
}

/* Hides the hover effect when button is disabled. Must match color set for button style above. */
button:disabled:hover {
    color: #ffffff;
}

/* Outer div for each Screen component */
.screen-container {
    /* border: solid; */
    padding: 3.5em 0;
    height: fit-content;
}


/* Nav-Buttons */

.home-button {
    position: absolute;
    top: 0.6em;
    left: 0.6em;
    height: 3em;
    width: 3em;
    background-image: url(./images/home-button-background.png);
}

.nav-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-buttons button {
    min-height: 3em;
    min-width: 8em;
    max-height: 5em;
    max-width: 10em;
    margin: 1em 1em 1em 1em;
}

/* HomeScreen */
.homescreen-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-elements {
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
    height: 60%;
    max-height: 30em;
}

.home-elements .nav-buttons {
    padding-bottom: 4em;
}

/* HelpScreen */
.helpscreen-container {
    display: flex;
    justify-content:center;
    flex-direction: column;
}

.help-elements {
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
    height: 60%;
    max-height: 30em;
}

#help-nav-buttons{
    flex-direction: row-reverse;
    justify-content: center;
}

/* QuizScreen */

.quizscreen-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

.quiz-elements {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    height: 60%;
    width: 100%;
}

.current-question-background {
    max-width: 80%;
    padding: 0 0.7em;
    border-radius: 1em;
    background-color: #ffffffaa;
}

.current-question {
    max-width: 100%;
    margin: 0;
    padding: 0.5em 0;
}

.answer-container {
    display: flex;
    margin: 4em auto 0;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 40em;
}

.answer-container button {
    min-height: 5em;
    min-width: 12em;
    max-height: 10em;
    max-width: 15em;
    margin: 1em 1em 1em 1em;
}


/* Reserves space for next-button to avoid content shifting*/
.quizscreen-container .nav-buttons {
    height: 3em;
}

.quizscreen-container .nav-buttons button {
    height: 3em;
    margin: 0;
}

/* ResultScreen */

.resultscreen-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.result-elements {
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
    height: 60%;
    max-height: 30em;
}

/* Larger Device Styles */
@media (min-width: 769px) { }